s/Kvothe/Quothe/gi
s/shaman/shawman/gi
s/altameda/altamayda/gi
s/anastaria/anastahria/gi
s/annalise/annuhlees/gi
s/aces/aises/gi
s/plato/plaito/gi
s/barliona/barleeowna/gi
s/connor/cawnor/gi
s/o'brien/o'bryon/gi
s/crouton/croo tawn/gi
s/superhero/superheero/gi
s/kiwi/keewee/gi
s/alatea/alataya/gi
s/iadon/eye aidawn/gi
s/Kae/kayee/g
s/Raoden/Rayoden/g
s/Karata/kairaiatay/g
s/Galladon/galuhdawn/g
s/Kiin/ky eyeun/g
s/Roial/Ruh y ul/g
s/Sarene/Suhreenee/g
s/Aon/ai own/g
s/Hrathen/Hraithen/gi
s/Elantri/Elawntri/g
